# Environnement Python
mark_env/
venv/
__pycache__/
*.pyc
*.pyo

# Docker data volumes
docker/postgres/data/
docker/postgres-dest/data/
docker/minio/data/
docker/logs/
docker/airflow_passwords/
docker/datahub/

# dbt
marketing_dbt/target/
marketing_dbt/dbt_packages/
marketing_dbt/logs/

# Logs
logs/
*.log

# Env
.env

# OS
.DS_Store
