# GitHub Actions cache
/.github/.cache
mark_env/

# Docker cache
docker/logs/
docker/minio/
docker/plugins/
docker/postgres/
docker/postgres-dest/

# DBT cache
marketing_dbt/.dbt/
marketing_dbt/analyses/
marketing_dbt/logs/
marketing_dbt/macros/
marketing_dbt/seeds/
marketing_dbt/target/
marketing_dbt/tests/

.env
__pycache__/
*.pyc
.vscode/
.idea/
.DS_Store
docker-compose.override.yml
logs/
